body {
    background-color: #BFCDFF;
    color: #000;
}

form input {
    padding: .5em 1em;
    border: none;
    border-radius: 25px;
}
form input[type="text"] {
    background-color: rgba(255, 255, 255, 0.25);
}
form input[type="text"]:focus-visible {
    outline: solid 1px #6083FF;
}
form input[type="submit"] {
    background-color: #BFFFC5;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 150ms;
}
form input[type="submit"]:hover {
    background-color: #85FF93;
}
form input[type="submit"]:active {
    transition-duration: 0ms;
    box-shadow: none;
}
